.prod-display {
    margin: 15px;

    button {
        background-color: white;
        color: darkslateblue;
        width: 15%;
        border-radius: 15px;
        font-size: 1.5rem;
    }
}